#content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#content h3 {
  text-align: center;
}

li {
  font-family: "MonoLisa";
  font-size: 1.2em;
}
